@import './scss/variables';
@import './scss/typography';
@import './scss/colors';
@import './scss/layout';
@import './scss/header';
@import './scss/slider';
@import './scss/categories';

.container {
    position: relative;
}