@import './colors';
@import './typography';

.serif-font {
  font-family: Georgia, serif;
}

.element {
  composes: serif-font;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.book {
  display: flex;
  gap: 36px;

  .content-wrapper {
    display: flex;
    flex-direction: column;

    .title {
      @include font($montserrat, 16px, normal, 700, normal);
  
      color: $text-black;
    }
  
    .author {
      @include font($text-font, 10px, normal, 400, normal);
  
      color: $text-gray;
      text-transform: capitalize;
    }

    .description {
      @include font($text-font, 10px, normal, 400, normal);

      color: $text-gray;
      text-transform: capitalize;
    }

    .price {
      @include font($montserrat, 13px, normal, 700, normal);
  
      color: $text-black;
      text-transform: uppercase;
    }

    .buy-button {
      width: 176px;
      height: 45px;
      border: 1px solid #4C3DB2;
      cursor: pointer;
      background-color: #fff;
      text-transform: uppercase;

      &:hover {
        border-color: #1d07aa;
        background-color: #d8cccc;
      }
    }
  }

  .image-wrapper {
    width: 213px;
    height: 340px;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
}