@import './colors';
@import './typography';

@mixin open-sans-font {
  @include font($text-font, 10px, normal, 400, normal);
  
  color: $text-gray;
  text-transform: capitalize;
}

.book {
  display: flex;
  gap: 36px;

  .content-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      @include font($montserrat, 16px, normal, 700, normal);
  
      color: $text-black;
    }
  
    .author {
      @include open-sans-font;
    }

    .description {
      @include open-sans-font;

      width: 176px;
      height: 39px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .reviews {
      @include open-sans-font;
    }

    .price {
      @include font($montserrat, 13px, normal, 700, normal);
  
      color: $text-black;
      text-transform: uppercase;
    }

    .buy-button {
      width: 176px;
      height: 45px;
      border: 1px solid $btn-border;
      cursor: pointer;
      background-color: $white;
      text-transform: uppercase;
      color: $btn-border;

      &:hover {
        border-color: $btn-border-hover;
        color: $btn-border-hover;
        background-color: $btn-bg;
      }
    }
  }

  .image-wrapper {
    width: 213px;
    height: 340px;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
}