@import './colors';
@import './typography';

.aside {
    @include font($montserrat, 12px, normal, 500, normal);

    width: 416px;
    height: 710px;
    flex-shrink: 0;
    background: #EFEEF6;
    color: $text-gray;
    text-transform: capitalize;
    padding-top: 45px;

    .categories {
        list-style-type: none;

        .category {
            margin-bottom: 23px;
            cursor: pointer;
        }

        .active {
            @include font($montserrat, 16px, normal, 700, normal);

            color: $text-black;
            text-transform: capitalize;
            list-style-type: disc;

            // fill: #756AD3;
        }
    }
}