@import './colors';
@import './typography';

.books-container {
    position: relative;
    background-color: gray;
    z-index: 1;
    display: grid;
}

.button-load {
    @include font($montserrat, 8px, normal, 700, normal);

    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    color: #4C3DB2;
    text-transform: uppercase;
}