@import './colors';
@import './typography';

.books-container {
    position: relative;
    top: -700px;
    left: 300px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    row-gap: 85px;
}

.button-load {
    @include font($montserrat, 8px, normal, 700, normal);

    width: 176px;
    height: 45px;
    border: 1px solid $btn-border;
    color: $btn-border;
    text-transform: uppercase;

    &:hover {
        border-color: $btn-border-hover;
        background-color: $btn-bg;
        color: $btn-border-hover;
        cursor: pointer;
      }
}