@import './colors';
@import './typography';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 160px;
    position: sticky;
    top: 0;
    width: auto;
    background-color: $white;
    z-index: 2;

    .header-logo {    
        @include font($montserrat, 24px, normal, 700, normal);
    
        color: $text-black;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .header-link {    
            @include font($montserrat, 10px, normal, 900, normal);
        
            color: $text-black;    
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .header-user-menu {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    
        a {
            text-decoration: none;
            cursor: pointer;
        }

        .header-user-menu-cart {
            position: relative;

            .cart-counter {
                @include font($montserrat, 10px, normal, 500, normal);
    
                width: 13px;
                height: 13px;
                background-color: $red;
                border-radius: 50%;
                color: $white;
                text-transform: capitalize;
                position: relative;
                top: -10px;
                left: 5px;
                z-index: 1;
                display: none;
            }
        }
    }
}