@import './colors';
@import './typography';

.slider {
    display:flex;
    flex-direction: column;
    gap: 17px;
    padding: 0 160px;
    position: relative;
    margin-bottom: 105px;

    .slider-image {
		object-fit: cover;
    }

    .slider-nav {
        display: flex;
        justify-content: center;
        gap: 10px;
    
        .slider-dot {
            width: 12px;
            height: 12px;
            flex-shrink: 0;
            border-radius: 12px;
            background: $dot-color;
            cursor: pointer;
        }

        .dot-active {
            background-color: $dot-active-color;
        }
    }

    .slider-link {
        display: flex;
        justify-self: start;
        align-items: end;
        position: absolute;
        z-index: 1;
        box-shadow: 0 24px 36px 0 rgba(53 49 84 / 28%);

        a {
            text-decoration: none;
            cursor: pointer;
        }

        p {
            margin: 0;
        }
    }

    .block-top {
        background: $purple;
        top: 11%;
        right: 5%;
        padding: 100px 20px 20px;
        width: 10%;
        height: 12%;
    }

    .block-bottom {
        background: $pink;
        top: 50%;
        right: 0;
        padding: 100px 50px 20px 20px;
        width: 5%;
        height: 17%;
    }

    .slider-text {
        @include font($montserrat, 18px, normal, 700, normal);

        color: $text-black;
        text-transform: uppercase;
    }
}